fastapi
uvicorn[standard]
alembic
psycopg2-binary
sqlalchemy>=2.0
minio
python-multipart
numpy
requests
pymupdf
elasticsearch==8.13.4
langchain>=0.3.25
langchain-openai>=0.1.17
langchain-elasticsearch==0.3.2
