fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
minio
python-multipart
requests
pymupdf
langchain-openai
langchain_community
elasticsearch==8.12.1
langchain==0.1.17
langchain-core==0.1.47
langchain-elasticsearch==0.1.7
