fastapi
uvicorn[standard]
minio
PyMuPDF
langchain>=0.3.25,<0.4
langchain-community>=0.3.24,<0.4
langchain-core>=0.3.59,<0.4
langchain-openai>=0.3.16,<0.4
pydantic
Pillow
python-dotenv
rapidfuzz
requests
elasticsearch==8.13.1
tiktoken
